<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Fredoka%20One&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<style>

     h2,
     h3 {
          font-family: "Fredoka One";
          font-weight: 700;
          font-size: 3.5rem;
     }

     h1 {
          color:#f8fcfc;
          font-family: "Montserrat";
          font-weight: 700;

     }

     /* Subtitle */
     .blog-description {
          margin: 0;
          font-size: 2.5rem;
          line-height: 1.5em;
          font-weight: 400;
          font-family: "Raleway";
          letter-spacing: 0;
     }

     h3 {
          font-family: "Fredoka One";
          font-weight: 400;
          margin-top: 0px;
          margin-bottom: 0px;
     }

     h4 {
          font-family: "Montserrat";
          font-weight: 400;
          margin-top: 40px;
          margin-bottom: 20px;
     }

     h6 {
          font-family: "Montserrat";
          color:#afc9ce;
          font-weight: 400;
          font-size: 2.25rem;
          line-height: 1.25em;
          margin-top: 40px;
          margin-bottom: 0;
     }

     /* Use q for figure captions */
     span {
          font-family: "Raleway";
          font-style: italic;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 1.25em;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-right: 4em;
     }

     body {
          color: #32363f;
          font-family: "Raleway";
          font-weight: 400;
          font-size: 1.8rem;
     }

     /* Links */
     a:hover {
         color: #b2a29a;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: #434248;
          background-color: #fae880;
     }
     a.btn:hover {
          background-color: #c4ba7f;
     }
     

     /* Scroll Menu on Startpage */
     a.fn-item {
          color: #617d82;
          opacity: 1.0;
     }
     a.fn-item.active {
          color: #fae880;
     }
     a.fn-item:hover {
          color: #c4ba7f;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #4f4990;
          color: #f8fcfc;
     }
     .post-holder {
          background: #f8fcfc;
     }

     .content-card img {
          max-width: 100%;
     }

     /* Footer */
     .site-footer {
          color: #617d82;
          background-color: #afc9ce;
     }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
